# Nuxt dev/build outputs
.output
.data
.nuxt
.nuxt-e2e-*
.nuxtrc
.nitro
.output-e2e-*
.cache
dist

# Node dependencies
node_modules

# Playwright e2e artifacts
test-results
playwright-report
.last-run.json

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
